/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Override default styles added by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #d7d5d599;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
    background-color: #1f3f76;
    padding: 1rem;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: white;
}

header img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
  flex: 1 0 auto;
  margin-top: 120px;
  padding: 1rem;
  background: url("../images/bsartwork.jpg") no-repeat center center/cover;
}

/* Introduction */
#introduction {
    color: #fafafa;
    text-align: center;
    padding: 2rem;
    max-width: 1480px;
    margin: 0 auto;
}

#games {
    color: white;
    text-align: center;
}

#games img {
    width:  300px;
    height: 300px;
    border: 3px solid #1f3f76;
}

#introduction iframe {
    padding: 2rem;
}

/* Gallery */
#galleryheader {
    text-align: center;
    color: #fafafa;
}

#ytvideos {
    display: flex;
}

#ytvideos iframe {
    width: 30%;
    height: 20rem;
}
    
/* Contact form */
#contactform {
    text-align: center;
    border-style: solid;
    border-radius: 30px;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    background-color: #1f3f76;
    border-color: #d7d5d599;
    color: white;
  }
  
  input[type=text],
  input[type=email],
  select,
  textarea {
      width: 95%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical
  }
  
  /* styled to give 3d effect on contact form submit button */
  #contactform button[type=submit] {
      background-color: white;
      padding: 12px 20px;
      border: solid;
      border-style: groove;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 20px;
  }

/* Thank you page */
.thank-you {
    text-align: center;
}

/* Footer */
footer {
  background-color: #1f3f76;
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
}

footer img {
    height: 3rem;
    margin: 10px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
	#contactform {
		width: 50%;
	}
}

@media only screen and (min-width: 1400px) {
    #contactform {

    }
}